<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center">
        <p>Welcome to the Material Angular Application</p>
    </div>

    <p>In this application we are going to work with:</p>

    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
        <mat-tab label="Material Components">
            <p>We are going to use material components to create nice looking angular app.</p>
        </mat-tab>
        <mat-tab label="Consume .NET Core Web API">
            <p>REST API created with ASP Net Core Web API 3.1 using Dependency Injection, Docker, Fluent Validator for
                model validations, Json Web Token for
                application security, ORM Entity Framework Core for mapping and creating queries in the
                SQL Server and Swagger for the web API documentation.</p>
        </mat-tab>
    </mat-tab-group>
</section>