<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Home</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/company" routerLinkActive="mat-accent">Company</a>
            </li>
            <li>
                <a routerLink="/employee" routerLinkActive="mat-accent">Employee</a>
            </li>
        </ul>
    </div>
</mat-toolbar>