<mat-card>

  <mat-card-title>Lista de todos os Produtos</mat-card-title>
  <mat-card-subtitle>Você pode buscar algum produto caso necessite</mat-card-subtitle>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Digite o que busca">
  </mat-form-field>

  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.productId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Description">
          <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Price">
          <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.price | currency: 'BRL' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Bar Code">
          <mat-header-cell *matHeaderCellDef> Código de Barras </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.barCode}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="deleteProduct(element.productId)">Deletar</button>
            <button mat-button color="accent" (click)="alterProduct(element.productId)">Alterar</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="AddProduct()">Adicionar um Produto</button>
  </mat-card-actions>
</mat-card>
